{% extends 'myapp/base.html' %}

{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block content %}


{% if not request.htmx %}
    <div class="content-section">
        <form method="POST" action="" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create a Task</legend>
                {{ form | crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info" type="submit">Submit</button>
            </div>
        </form>
    </div>

{% else %}
    <div class="form-group">
        <form method="POST" action="" novalidate
              hx-post="{% url 'task-create' %}"
              hx-on::after-request="document.querySelector('form').reset()"
              hx-target=".list-target ul"
              hx-swap="beforeend">
            {% csrf_token %}
            <fieldset class="form-group">
                <div>
                    {% for field in form %}
                        {{ field | attr:"required"}}
                    {% endfor %}
                </div>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info"
                        hx-post="{% url 'task-update' object.pk %}"
                        hx-swap="delete"
                        hx-target="closest form"
                        type="submit">Submit</button>
            </div>
        </form>
    </div>


{% endif %}
{% endblock content %}

